[keepassxc]
    mode = "builtin"
    database = "/home/jimmy/Nextcloud/keepassdb.kdbx"

[diff]
    command = "meld"
    args = ["--diff", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
