[submodule "vim-pathogen"]
	path = vim/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdtree-git-plugin"]
	path = vim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-snippets"]
	path = vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-go"]
	path = vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-arduino"]
	path = vim/bundle/vim-arduino
	url = https://github.com/stevearc/vim-arduino
[submodule "bundle/dracula-theme"]
	path = vim/bundle/dracula-theme
	url = https://github.com/dracula/vim.git
[submodule "bundle/Dockerfile.vim"]
	path = vim/bundle/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "bundle/vim-flake8"]
	path = vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "bundle/vim-fugitive-blame-ext"]
	path = vim/bundle/vim-fugitive-blame-ext
	url = https://github.com/tommcdo/vim-fugitive-blame-ext.git
[submodule "bundle/vim-merginal"]
	path = vim/bundle/vim-merginal
	url = https://github.com/idanarye/vim-merginal.git
[submodule "bundle/vim-slumlord"]
	path = vim/bundle/vim-slumlord
	url = https://github.com/scrooloose/vim-slumlord.git
[submodule "bundle/plantuml-syntax"]
	path = vim/bundle/plantuml-syntax
	url = https://github.com/aklt/plantuml-syntax.git
[submodule "bundle/vim-virtualenv"]
	path = vim/bundle/vim-virtualenv
	url = https://github.com/plytophogy/vim-virtualenv.git
[submodule "bundle/SimpylFold"]
	path = vim/bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "bundle/FastFold"]
	path = vim/bundle/FastFold
	url = https://github.com/Konfekt/FastFold.git
[submodule "bundle/vim-airline-clock"]
	path = vim/bundle/vim-airline-clock
	url = https://github.com/enricobacis/vim-airline-clock.git
[submodule "bundle/ansible-vim"]
	path = vim/bundle/ansible-vim
	url = https://github.com/pearofducks/ansible-vim.git
[submodule "bundle/vim-ripgrep"]
	path = vim/bundle/vim-ripgrep
	url = https://github.com/jremmen/vim-ripgrep.git
[submodule "zplug"]
	path = zplug
	url = https://github.com/zplug/zplug.git
[submodule "vim/bundle/vim-polyglot"]
	path = vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "vim/bundle/ale"]
	path = vim/bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/bundle/vim-log-syntax"]
	path = vim/bundle/vim-log-syntax
	url = https://github.com/dzeban/vim-log-syntax.git
[submodule "vim/bundle/vim-coiled-snake"]
	path = vim/bundle/vim-coiled-snake
	url = git://github.com/kalekundert/vim-coiled-snake.git
[submodule "vim/bundle/vim-codequery"]
	path = vim/bundle/vim-codequery
	url = https://github.com/devjoe/vim-codequery.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/bundle/vim-orgmode"]
	path = vim/bundle/vim-orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule "vim/bundle/vim-speeddating"]
	path = vim/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "vim/bundle/vim-asciidoc"]
	path = vim/bundle/vim-asciidoc
	url = https://github.com/asciidoc/vim-asciidoc.git
[submodule "vim/bundle/editorconfig-vim"]
	path = vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/bundle/pytest.vim"]
	path = vim/bundle/pytest.vim
	url = https://github.com/alfredodeza/pytest.vim.git
[submodule "vim/bundle/jedi-vim"]
	path = vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/bundle/vim-gutentags"]
	path = vim/bundle/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
